<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding fondo">
  <ion-item class="input" lines="none">
    <ion-input label="Correo" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input type="password" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input type="password" label="Ingrese nuevamente su contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-button expand="block" class="boton">
    Registrarse
  </ion-button>
</ion-content>
