<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-grid>
      <div class="center-container">
        <ion-col size="auto">
          <img  src="assets/imagenes/logo-duoc.png"  class="logo" />
        </ion-col>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <div class="center-container">
    <ion-col size="auto">
    <img class="imagen" src="assets/imagenes/sedes-campus.jpg" />
  </ion-col>
  </div>

  <div class="panel-transparente">
    <div class="button-container">
      <ion-item class="line-input" lines="none">
        <ion-input [(ngModel)]="user" label="Nombre de Usuario" labelPlacement="floating" type="email"></ion-input>
        </ion-item>
      <ion-item class="line-input" lines="none">
      <ion-input [(ngModel)]="email" label="Correo" labelPlacement="floating" type="email"></ion-input>
    </ion-item>
  <ion-item class="line-input" lines="none">
    <ion-input [(ngModel)]="pass" label="Contraseña" labelPlacement="floating" type="password"></ion-input>
  </ion-item >
  <ion-button expand="block" class="custom-button" (click)="login()">
    <ion-spinner name="crescent" class="ion-margin-end" *ngIf="loadingVisible"></ion-spinner>
    Ingresar
  </ion-button>
  
  <ion-button (click)="registrarse()" class="custom-button" expand="block">
    Regístrate
  </ion-button>
</div>
</div>

  
  <ion-item class="item-warning" lines="none" *ngIf="warningVisible">
    Credenciales inválidas
  </ion-item>
</ion-content>


