<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding fondo">
  <ion-item class="input" lines="none">
    <ion-input label="Correo" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input type="Contraseña actual" label="Contraseña actual" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input type="Nueva contraseña" label="Nueva contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-button expand="block" class="boton">
    Confirmar cambio
  </ion-button>
</ion-content>
