<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-grid>
      <div class="center-container">
        <ion-col size="auto">
          <img  src="assets/imagenes/logo-duoc.png"  class="logo" />
        </ion-col>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="barrita">
  <ion-title class="title"> Cambiar Contraseña </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" class="background">

  <div class="center-container">
    <ion-col size="auto">
    <img  src="assets/imagenes/duoc-2.jpg" />
  </ion-col>
  </div>
  <div class="button-container">
    <ion-item class="line-input" lines="none">
      <ion-input [(ngModel)]="user" label="Nombre de usuario" labelPlacement="floating"></ion-input>
    </ion-item>
  <ion-item class="line-input" lines="none">
    <ion-input [(ngModel)]="email" label="Correo" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item  class="line-input" lines="none">
    <ion-input [(ngModel)]="pass" type="password" label="Nueva contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="line-input" lines="none">
    <ion-input [(ngModel)]="confirmar" type="password" label="Confirmar contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  
  <ion-button expand="block" class="custom-button" (click)="cambiopass()">
    <ion-spinner name="crescent" class="ion-margin-end" *ngIf="loadingVisible"></ion-spinner>
    Confirmar cambio
  </ion-button>
  </div>

  <ion-item class="item-warning" lines="none" *ngIf="warningVisible">
    Las contraseñas deben coincidir
  </ion-item>

  <ion-item class="item-warning" lines="none" *ngIf="warningVisible2">
    Los datos estan vacíos o erróneos
  </ion-item>

</ion-content>
